<!DOCTYPE html>
<html>
<head>
  <title>Segmentation</title>
  <link href="css/main.css" rel="stylesheet" type="text/css">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script>
    var annotationInfo = <%- JSON.stringify(info) %>;
  </script>
  <script data-main="js/main.js" src="js/require.js"></script>
</head>
<body>
</body>
</html>
